{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "printWidth": 80,
    "semi": true,
    "sortTailwindcssClasses": true,
    "singleAttributePerLine": true,
    "plugins": ["prettier-plugin-tailwindcss", "@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        }
    ]
}
